
/*Configuração Geral do Documento html*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family: Oswald;
    display: flex;
    flex-flow: row wrap;
    color: #8fca1c;
    background-color: #f5f0ea;
}
    /*Header do Documento com Título Descrito por h1*/
    header{
        width: 100%;
        height: 19.5vh;
        border-bottom: 0.5vh solid #0f4941;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Main do Documento com seções decritas por section e Class (Display)*/
    main{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }
        main section{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
            main section h1{ 
                display: flex;
                justify-content: center;
                align-items: center; 
                border-radius: 2vh;
                background-color: #ffd976;
                color: #000000;
                border: 0.5vh solid #000000;
            }
            main section h1:hover{
                border: 0.5vh solid #000000;
                color: #ffd976;
                background-color: #000000;
            }
        /*Class (Display) com configuração da tag h2 e Class (Box) e hereditários*/
        main .Display{
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content:space-evenly;
            align-items: center;
            Display: none
        }
            main .Display h2{
                color: #000000;
            }
            main .Display .Box{
                display: flex;
                flex-flow: column wrap;
            }
                .Box .BoxDisplay{
                    width: calc(100% - 4vh);
                    height: 26vh;
                    border: 2vh solid #0f4941;
                    border-bottom: 0vh solid transparent;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: #000000;
                }
                .Box .BoxButtons{
                    width: calc(100% - 4vh);
                    border: 2vh solid #0f4941;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: #0f4941;
                }
                    .BoxButtons .listButtons{
                        border-radius: 100%;
                    }
                    .BoxButtons .listButtons:hover{
                        background-color: #000000;
                        border-color:#8fca1c;
                    }
                    .BoxButtons .auxButtons{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 2vh;
                        display: none;
                    }

/*Configuração Horizontal do Documento html*/
@media (orientation: landscape){
    /*Header do Documento com Título Descrito por h1*/
    header{
        height: 19.5vh;
    }
        header h1{
            font-size: 4vw;
        }
    /*Main do Documento com seções decritas por section e Class (Display)*/
        main section{
            height: 80vh;
        }
            section img{
                height: 40vh;
                width: auto;
            }
            section h1{
                font-size: 2.5vw;
                margin-top: 5vh;
                margin-bottom: 10vh;
                height: 10vh;
                width: 15%;
            }
        /*Class (Display) com configuração da tag h2 e Class (Box) e hereditários*/
        main .Display{
            height: 80vh;
        }
            main .Display h2{
                font-size: 3vw;
            }
            main .Display .Box{
                width: 40%;
                height: 58vh;
            }
                .Box .BoxDisplay{
                    height: 26vh;
                }
                    .BoxDisplay #USER, .BoxDisplay #PC{
                        font-size: 5vw;
                    }
                    .BoxDisplay #VS{
                        font-size: 2vw;
                    }
                .Box .BoxButtons{
                    height: 26vh;
                }
                    .BoxButtons .listButtons{
                        font-size: 4vw;
                        background-color: #0f4941;
                        border: 0.5vw solid #000000;
                        padding: 0.5vw;
                    }
                    .BoxButtons .auxButtons{
                        width: 60%;
                        height: 10vh;
                        font-size: 2.5vw; 
                    }
                    .BoxButtons #ButtonnextRound{
                        background-color: #0f4941;
                        color: #000000;
                        border: 0.5vh solid #000000;
                    }
                    .BoxButtons #ButtonnextRound:hover{
                        background-color: #000000;
                        color: #8fca1c;
                        border-color: #8fca1c;
                    }
                    .BoxButtons #ButtonresetGame{
                        color: #000000;
                        background-color: #ffd976;
                        border: 0.5vh solid #000000;
                    }
                    .BoxButtons #ButtonresetGame:hover{
                        color: #ffd976;
                        background-color: #000000;
                    }
}

/*Configuração Vertical do Documento html*/
@media (orientation: portrait){
    /*Header do Documento com Título Descrito por h1*/
    header{
        height: 18.5vh;
    }
        header h1{
            font-size: 10vw;
        }
    /*Main do Documento com seções decritas por section e Class (Display)*/
        main section{
            height: 81vh;
        }
            section img{
                width: 80%;
                height: auto;
            }
            section h1{
                margin-top: 0vh;
                margin-bottom: 10vh;
                font-size: 6vw;
                height: 10vh;
                width: 40%;
            }
        /*Class (Display) com configuração da tag h2 e Class (Box) e hereditários*/
        main .Display{
            height: 81vh;
        }
            main .Display h2{
                font-size: 9vw;
            }
            main .Display .Box{
                width: 80%;
                height: 50vh;
            }
                .Box .BoxDisplay{
                    height: 18vh;
                }
                    .BoxDisplay #USER, .BoxDisplay #PC{
                        font-size: 12vw;
                    }
                    .BoxDisplay #VS{
                        font-size: 9vw;
                    }
                .Box .BoxButtons{
                    height: 12vh;
                }
                .BoxButtons .listButtons{
                    font-size: 8vw;
                    background-color: #000000;
                    border: 1vw solid #8fca1c;
                    padding: 1vw;
                }
                .BoxButtons .auxButtons{
                    width: 75%;
                    height: 7vh;
                    font-size: 6vw;
                }
                .BoxButtons #ButtonnextRound{
                    background-color: #000000;
                    color: #8fca1c;
                    border: 0.5vh solid #8fca1c;
                }
                .BoxButtons #ButtonresetGame{
                    color: #ffd976;
                    background-color: #000000;
                }
}

/*Configuração de fonte Externa do Documento html*/
@font-face {
    font-family: Oswald;
    src: url(./fontText/Oswald-VariableFont_wght.ttf);
}
